<div class="medications-container">
    <h2>Manage Medications</h2>

    <form [formGroup]="medicationForm" (ngSubmit)="onSubmit()">
        <div>
            <label for="name">Name:</label>
            <input id="name" formControlName="name" type="text" required />
        </div>
        <div>
            <label for="use">Use:</label>
            <input id="use" formControlName="use" type="text" required />
        </div>
        <div>
            <label for="sideEffects">Side Effects (comma-separated):</label>
            <input id="sideEffects" formControlName="sideEffects" type="text" required />
        </div>
        <button type="submit" [disabled]="medicationForm.invalid">
            {{ selectedMedicationId ? 'Update' : 'Add' }}
        </button>
    </form>

    <div class="search-section">
        <input [(ngModel)]="searchQuery" placeholder="Search medications..." />
        <button (click)="searchMedications()">Search</button>
    </div>
    <div *ngIf="errorMessage" class="error">
        {{ errorMessage }}
    </div>

    <h3>Existing Medications</h3>
    <div class="medications-container">
        <p-table [value]="medications" [paginator]="true" [rows]="5" responsiveLayout="scroll">
            <ng-template pTemplate="header">
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Use</th>
                    <th>Side Effects</th>
                    <th>Actions</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-medication let-i="rowIndex">
                <tr>
                    <td>{{ i + 1 }}</td>
                    <td>{{ medication.name }}</td>
                    <td>{{ medication.use }}</td>
                    <td>{{ medication.sideEffects }}</td>
                    <td>
                        <p-button (click)="editMedication(medication)" label="Edit" icon="pi pi-pencil" severity="info"
                            styleClass="p-button-text"></p-button>
                    </td>
                    <td>
                        <p-button (click)="deleteMedication(medication.id)" label="Delete" icon="pi pi-trash"
                            severity="danger" styleClass="p-button-text"></p-button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>