<header>
    <nav>
        <div class="logo">Medisync</div>
        <!-- header.component.html -->
        <ul class="nav-links">
            <li>
                <a routerLink="/home" routerLinkActive="active-link">Home</a>
            </li>
            <li>
                <a routerLink="/login" routerLinkActive="active-link">Login</a>
            </li>
            <li>
                <a routerLink="/register" routerLinkActive="active-link">Sign Up</a>
            </li>
            <li>
                <a routerLink="/dashboard" routerLinkActive="active-link">Dashboard</a>
            </li>
        </ul>

    </nav>
</header>