<header>
    <nav>
      <div class="logo">Medisync</div>
      <button class="menu-toggle" (click)="toggleMenu()">
        &#9776; <!-- Hamburger icon -->
      </button>
      <ul class="nav-links" [class.active]="isMenuActive">
        <li>
          <a routerLink="/user/home" routerLinkActive="active-link">Interaction Checker</a>
        </li>
        <li>
          <a routerLink="/user/medication" routerLinkActive="active-link">medication</a>
        </li>
        <li>
          <a routerLink="/user/register" routerLinkActive="active-link">Sign Up</a>
        </li>
        <li>
          <a routerLink="/user/interaction" routerLinkActive="active-link">interaction</a>
        </li>
        <li>
          <a routerLink="/user/notfound" routerLinkActive="active-link">Dashboard</a>
        </li>
      </ul>
    </nav>
  </header>
  